        // Start Case {{enumValue}}
        case {{enumValue}} -> {
        if({{property.fieldName}} != {{property.originalConfigurationName}}.{{property.fieldGetter}}() && {{property.fieldName}} == {{property.fieldClass}}.{{enumValue}}) {
        {{setter}}(new {{value}}());
        }
