        // Start Case {{enumValue}}
        case {{enumValue}} -> {
            if({{property.fieldName}} != {{property.originalConfigurationName}}.{{property.fieldGetter}}()) {
            {{setter}}(new {{value}}());
            }
