
        //{{fieldName}} list section begin
        if({{evaluatedList}} != null) {
            currentAttributePrefix = attributePrefix.concat("{{attributeSuffix}}");
            for ({{elementType}} {{itemName}} : {{evaluatedList}}) {
                if ({{itemName}} == null) {
                    continue;
                }
